@CHARSET "ISO-8859-1";

#Logocontainer
{
background-color:black;
margin-left:35px;
margin-right:35px;
border-radius:5px;
}

#Logo
{
width:170px;
height:70px;
}

#navigationbar
{
background-color:#404040;
}

#dropmenu
{
text-align:center;
font-family:Microsoft Sans serif;
}


#carousel-container
{
margin-top:30px;
}

#Signupform
{
margin-left:250px;
}

#userform
{
margin-left:250px;	
}

#billingform
{
margin-left:250px;	
}

#addproductform
{
margin-left:250px;
}

#editproductform
{
margin-left:250px;
}

#loginform
{
margin-left:250px;
}

#viewproductform
{
margin-top:30px;
}

#viewproductpanel
{
border:2px solid black;	
margin-top:0;
background-color:#dcdcdc;
}

#viewproductformimage
{
width:400px;
height:400px;	
float:left;
margin-right:100px;
}

#viewproducttable
{
width:300px;
}


#thumbsup:hover
{
color:red;	
}

